<p>
  Hi,
{{ session.user.username }} !
</p>
<h3>Order Details</h3>
{{#if orders}}
  <div class="alert alert-success">
    Thank you for all your orders !!!
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-offset-3 col-sm-offset-3">
      <ul class="list-group">
        {{# each orders}}
        <li class="list-group-item">
          <span class="label label-success">Order ID : {{this.ID}}</span>
          <strong>Product Name</strong>
          <span class="label label-success">$ 100</span>
        </li>
         {{/ each}}
      </ul>
    </div>
  </div>
{{else}}
  <div class="alert alert-info">
    No orders found...
  </div>
{{/if}}
